src/main/resources/sap/sap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char132">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="132" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char241">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="241" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr11.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
      xmlns:n0="urn:sap-com:document:sap:rfc:functions">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZbapiCustomerPayment">
        <xsd:sequence>
          <xsd:element name="Customer" type="n0:char10" />
          <xsd:element name="FiscYear" type="n0:numeric4" />
          <xsd:element name="AcDocNo" type="n0:char10" />
          <xsd:element name="PstngDate" type="n0:date" />
          <xsd:element name="DocDate" type="n0:date" />
          <xsd:element name="EntryDate" type="n0:date" />
          <xsd:element name="BusArea" type="n0:char4" />
          <xsd:element name="ValLoccurr" type="n0:curr13.2" />
          <xsd:element name="ValDoc" type="n0:curr13.2" />
          <xsd:element name="TaxAmount" type="n0:curr13.2" />
          <xsd:element name="TaxDoc" type="n0:curr13.2" />
          <xsd:element name="ItemText" type="n0:char50" />
          <xsd:element name="Value" type="n0:curr13.2" />
          <xsd:element name="Currency" type="n0:cuky5" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZpernDebitor">
        <xsd:sequence>
          <xsd:element name="Tabno" type="n0:numeric8" />
          <xsd:element name="Family" type="n0:char25" />
          <xsd:element name="Name" type="n0:char25" />
          <xsd:element name="Father" type="n0:char40" />
          <xsd:element name="Birthdate" type="n0:date" />
          <xsd:element name="Job" type="n0:numeric8" />
          <xsd:element name="Jobtxt" type="n0:char40" />
          <xsd:element name="OrgUnit" type="n0:numeric8" />
          <xsd:element name="Orgtxt" type="n0:char40" />
          <xsd:element name="TelAts" type="n0:char30" />
          <xsd:element name="TelHome" type="n0:char30" />
          <xsd:element name="TelMisto" type="n0:char30" />
          <xsd:element name="KodAts" type="n0:char10" />
          <xsd:element name="KodMisto" type="n0:char10" />
          <xsd:element name="TelMob1" type="n0:char30" />
          <xsd:element name="TelMob2" type="n0:char30" />
          <xsd:element name="Email" type="n0:char241" />
          <xsd:element name="TelFax" type="n0:char30" />
          <xsd:element name="Pol" type="n0:char1" />
          <xsd:element name="Customer" type="n0:char10" />
          <xsd:element name="Bukrs" type="n0:char4" />
          <xsd:element name="Butxt" type="n0:char25" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bdcmsgcoll">
        <xsd:sequence>
          <xsd:element name="Tcode" type="n0:char20" />
          <xsd:element name="Dyname" type="n0:char40" />
          <xsd:element name="Dynumb" type="n0:char4" />
          <xsd:element name="Msgtyp" type="n0:char1" />
          <xsd:element name="Msgspra" type="n0:lang" />
          <xsd:element name="Msgid" type="n0:char20" />
          <xsd:element name="Msgnr" type="n0:char3" />
          <xsd:element name="Msgv1" type="n0:char100" />
          <xsd:element name="Msgv2" type="n0:char100" />
          <xsd:element name="Msgv3" type="n0:char100" />
          <xsd:element name="Msgv4" type="n0:char100" />
          <xsd:element name="Env" type="n0:char4" />
          <xsd:element name="Fldname" type="n0:char132" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zdebitorkrem">
        <xsd:sequence>
          <xsd:element name="Customer" type="n0:char10" />
          <xsd:element name="Family" type="n0:char25" />
          <xsd:element name="Name" type="n0:char25" />
          <xsd:element name="Father" type="n0:char40" />
          <xsd:element name="Tabno" type="n0:char10" />
          <xsd:element name="Jobtxt" type="n0:char40" />
          <xsd:element name="Orgtxt" type="n0:char40" />
          <xsd:element name="TelAts" type="n0:char16" />
          <xsd:element name="Email" type="n0:char241" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zsdsmitmatnr">
        <xsd:sequence>
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Maktx" type="n0:char40" />
          <xsd:element name="Vrvez" type="n0:decimal5.2" />
          <xsd:element name="Kbetr" type="n0:curr11.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string" />
          <xsd:element name="Number" type="tns:RfcException.Message.Number" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZsdBillPrint.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZsdBillPrint.RfcExceptions" />
          <xsd:element name="Text" type="xsd:string" minOccurs="0" />
          <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZbapiCustomerPayment">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZbapiCustomerPayment" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZpernDebitor">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZpernDebitor" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBdcmsgcoll">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Bdcmsgcoll" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZdebitorkrem">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Zdebitorkrem" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZsdsmitmatnr">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Zsdsmitmatnr" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZsdBillPrint.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="SpoolRequest" />
          <xsd:enumeration value="SpoolNotChanged" />
          <xsd:enumeration value="ConvertOtf_2Pdf" />
          <xsd:enumeration value="SendBillToSpool" />
          <xsd:enumeration value="DeleteSpoolRequest" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZsdBillPrint.Exception" type="tns:ZsdBillPrint.RfcException" />
      <xsd:element name="ZcustomerPaid">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Customer" type="n0:char10" minOccurs="0" />
            <xsd:element name="DateFrom" type="n0:date" minOccurs="0" />
            <xsd:element name="DateTo" type="n0:date" minOccurs="0" />
            <xsd:element name="Document" type="n0:char10" minOccurs="0" />
            <xsd:element name="Office" type="n0:char4" minOccurs="0" />
            <xsd:element name="Payments" type="tns:TableOfZbapiCustomerPayment" />
            <xsd:element name="SumaFrom" type="n0:curr13.2" minOccurs="0" />
            <xsd:element name="SumaTo" type="n0:curr13.2" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZcustomerPaidResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Payments" type="tns:TableOfZbapiCustomerPayment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsearchPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CheckCommunities" type="n0:char1" minOccurs="0" />
            <xsd:element name="EmployeeId" type="n0:numeric8" minOccurs="0" />
            <xsd:element name="FstnameM" type="n0:char25" minOccurs="0" />
            <xsd:element name="Job" type="n0:numeric8" minOccurs="0" />
            <xsd:element name="Jobtxt" type="n0:char12" minOccurs="0" />
            <xsd:element name="LastnameM" type="n0:char25" minOccurs="0" />
            <xsd:element name="OrgUnit" type="n0:numeric8" minOccurs="0" />
            <xsd:element name="Orgtxt" type="n0:char12" minOccurs="0" />
            <xsd:element name="OutTab" type="tns:TableOfZpernDebitor" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsearchPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OutTab" type="tns:TableOfZpernDebitor" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdBillCancel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BillNum" type="n0:char132" />
            <xsd:element name="Messtab" type="tns:TableOfBdcmsgcoll" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdBillCancelResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BillNumber" type="n0:char10" />
            <xsd:element name="CBillNumber" type="n0:char10" />
            <xsd:element name="Messtab" type="tns:TableOfBdcmsgcoll" />
            <xsd:element name="Subrc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZdebitorSearch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Customer" type="n0:char10" minOccurs="0" />
            <xsd:element name="Customers" type="tns:TableOfZdebitorkrem" minOccurs="0" />
            <xsd:element name="Name" type="n0:char35" minOccurs="0" />
            <xsd:element name="Person" type="n0:numeric8" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZdebitorSearchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Customers" type="tns:TableOfZdebitorkrem" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdBillPrint">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BillNumber" type="n0:char132" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdBillPrintResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PdfBinaryData" type="xsd:base64Binary" />
            <xsd:element name="Spoolid" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdBillCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Messtab" type="tns:TableOfBdcmsgcoll" />
            <xsd:element name="OrderNum" type="n0:char132" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdBillCreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BillNumber" type="n0:char10" />
            <xsd:element name="Messtab" type="tns:TableOfBdcmsgcoll" />
            <xsd:element name="Subrc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdOrderCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Messtab" type="tns:TableOfBdcmsgcoll" />
            <xsd:element name="OrderClient" type="n0:char10" />
            <xsd:element name="OrderDoc" type="n0:char35" minOccurs="0" />
            <xsd:element name="OrderType" type="n0:char4" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdOrderCreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Messtab" type="tns:TableOfBdcmsgcoll" />
            <xsd:element name="SalesOrder" type="n0:char10" />
            <xsd:element name="Subrc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdOrderAddPos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItemCnt" type="n0:char10" />
            <xsd:element name="ItemNum" type="n0:char18" />
            <xsd:element name="ItemText" type="n0:char40" minOccurs="0" />
            <xsd:element name="Messtab" type="tns:TableOfBdcmsgcoll" minOccurs="0" />
            <xsd:element name="OrderNum" type="n0:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdOrderAddPosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItemDate" type="n0:char10" />
            <xsd:element name="ItemSapPrice" type="n0:curr11.2" />
            <xsd:element name="Messtab" type="tns:TableOfBdcmsgcoll" />
            <xsd:element name="OrderItem" type="n0:numeric6" />
            <xsd:element name="SalesOrder" type="n0:char10" />
            <xsd:element name="Subrc" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZgetPriceByMatnr">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Matnr" type="n0:char18" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZgetPriceByMatnrResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Kbetr" type="n0:curr11.2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdGetMatnrForSmit">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Zmatnrtable" type="tns:TableOfZsdsmitmatnr" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZsdGetMatnrForSmitResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Zmatnrtable" type="tns:TableOfZsdsmitmatnr" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZcustomerPaid">
    <wsdl:part name="parameters" element="tns:ZcustomerPaid" />
  </wsdl:message>
  <wsdl:message name="ZcustomerPaidResponse">
    <wsdl:part name="parameter" element="tns:ZcustomerPaidResponse" />
  </wsdl:message>
  <wsdl:message name="ZsearchPerson">
    <wsdl:part name="parameters" element="tns:ZsearchPerson" />
  </wsdl:message>
  <wsdl:message name="ZsearchPersonResponse">
    <wsdl:part name="parameter" element="tns:ZsearchPersonResponse" />
  </wsdl:message>
  <wsdl:message name="ZsdBillCancel">
    <wsdl:part name="parameters" element="tns:ZsdBillCancel" />
  </wsdl:message>
  <wsdl:message name="ZsdBillCancelResponse">
    <wsdl:part name="parameter" element="tns:ZsdBillCancelResponse" />
  </wsdl:message>
  <wsdl:message name="ZdebitorSearch">
    <wsdl:part name="parameters" element="tns:ZdebitorSearch" />
  </wsdl:message>
  <wsdl:message name="ZdebitorSearchResponse">
    <wsdl:part name="parameter" element="tns:ZdebitorSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ZsdBillPrint">
    <wsdl:part name="parameters" element="tns:ZsdBillPrint" />
  </wsdl:message>
  <wsdl:message name="ZsdBillPrintResponse">
    <wsdl:part name="parameter" element="tns:ZsdBillPrintResponse" />
  </wsdl:message>
  <wsdl:message name="ZsdBillCreate">
    <wsdl:part name="parameters" element="tns:ZsdBillCreate" />
  </wsdl:message>
  <wsdl:message name="ZsdBillCreateResponse">
    <wsdl:part name="parameter" element="tns:ZsdBillCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ZsdOrderCreate">
    <wsdl:part name="parameters" element="tns:ZsdOrderCreate" />
  </wsdl:message>
  <wsdl:message name="ZsdOrderCreateResponse">
    <wsdl:part name="parameter" element="tns:ZsdOrderCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ZsdOrderAddPos">
    <wsdl:part name="parameters" element="tns:ZsdOrderAddPos" />
  </wsdl:message>
  <wsdl:message name="ZsdOrderAddPosResponse">
    <wsdl:part name="parameter" element="tns:ZsdOrderAddPosResponse" />
  </wsdl:message>
  <wsdl:message name="ZgetPriceByMatnr">
    <wsdl:part name="parameters" element="tns:ZgetPriceByMatnr" />
  </wsdl:message>
  <wsdl:message name="ZgetPriceByMatnrResponse">
    <wsdl:part name="parameter" element="tns:ZgetPriceByMatnrResponse" />
  </wsdl:message>
  <wsdl:message name="ZsdGetMatnrForSmit">
    <wsdl:part name="parameters" element="tns:ZsdGetMatnrForSmit" />
  </wsdl:message>
  <wsdl:message name="ZsdGetMatnrForSmitResponse">
    <wsdl:part name="parameter" element="tns:ZsdGetMatnrForSmitResponse" />
  </wsdl:message>
  <wsdl:portType name="ZKREMENCI">
    <wsdl:operation name="ZcustomerPaid">
      <wsdl:input message="tns:ZcustomerPaid" />
      <wsdl:output message="tns:ZcustomerPaidResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZsearchPerson">
      <wsdl:input message="tns:ZsearchPerson" />
      <wsdl:output message="tns:ZsearchPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZsdBillCancel">
      <wsdl:input message="tns:ZsdBillCancel" />
      <wsdl:output message="tns:ZsdBillCancelResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZdebitorSearch">
      <wsdl:input message="tns:ZdebitorSearch" />
      <wsdl:output message="tns:ZdebitorSearchResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZsdBillPrint">
      <wsdl:input message="tns:ZsdBillPrint" />
      <wsdl:output message="tns:ZsdBillPrintResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZsdBillCreate">
      <wsdl:input message="tns:ZsdBillCreate" />
      <wsdl:output message="tns:ZsdBillCreateResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZsdOrderCreate">
      <wsdl:input message="tns:ZsdOrderCreate" />
      <wsdl:output message="tns:ZsdOrderCreateResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZsdOrderAddPos">
      <wsdl:input message="tns:ZsdOrderAddPos" />
      <wsdl:output message="tns:ZsdOrderAddPosResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZgetPriceByMatnr">
      <wsdl:input message="tns:ZgetPriceByMatnr" />
      <wsdl:output message="tns:ZgetPriceByMatnrResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZsdGetMatnrForSmit">
      <wsdl:input message="tns:ZsdGetMatnrForSmit" />
      <wsdl:output message="tns:ZsdGetMatnrForSmitResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZKREMENCI" type="tns:ZKREMENCI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="ZcustomerPaid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZsearchPerson">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZsdBillCancel">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZdebitorSearch">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZsdBillPrint">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZsdBillCreate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZsdOrderCreate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZsdOrderAddPos">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZgetPriceByMatnr">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZsdGetMatnrForSmit">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZKREMENCI">
    <wsdl:port name="ZKREMENCI" binding="tns:ZKREMENCI">
      <soap:address location="http://10.93.107.60:8000/sap/bc/srt/rfc/sap/zkremenci/500/zkremenci/zkremenci" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>